<a href="https://colab.research.google.com/github/visionnlp/Anova-From-Scratch-in-Python/blob/main/One_way_ANOVA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# One way ANOVA

ANOVA is ths prametric statistical tool that helps to comparision of two or more sample means are significantly diffrent or not

Objectives: 


        1) To check there are any significant differences between the means of several independent groups.

Hypothesis:


          Null hypothesis: Groups means are equal (no variation in means of groups)
            H0: μ1=μ2=…=μp
          Alternative hypothesis: At least, one group mean is different from other groups
            H1: All μ are not equal

One way Model

       yij=m+ai+ϵij

where Yij represents the j-th observation (j=1,2,…,ni) on the i-th treatment (i=1,2,…,k levels). So, Y23 represents the third observation using level 2 of the factor. m is the common effect for the whole experiment, ai represents the i-th treatment effect, and ϵij represents the random error present in the j-th observation on the i-th treatment.

Parametric test assumptions : 


        1) Population distributions are Normal
        2) Samples have equal variances
        3) Indepedancy between groups

Ex. A supervisor select 30 students to participate in a study. The students are simple randomly assigned to use one of three studying techniques for the next three months to prepare for an exam. At the end of the three months, all of the students take the same test.Use one-way ANOVA to determine if the average scores are the same across all three groups.

In [ ]:
sample1 = [85, 86, 88, 75, 78, 94, 98, 79, 71, 80]
sample2 = [91, 92, 93, 85, 87, 84, 82, 88, 95, 96]
sample3 = [79, 78, 88, 94, 92, 85, 83, 85, 82, 81]

In [ ]:
n1=len(sample1)
n2=len(sample2)
n3=len(sample3)
print(n1)
print(n2)
print(n3)

10
10
10

In [ ]:
n=n1+n2+n3

In [ ]:
def mean(data):
    return sum(data)/n1

In [ ]:
# Here we find mean of each sample
x1bar=mean(sample1)
x2bar=mean(sample2)
x3bar=mean(sample3)
print(x1bar)
print(x2bar)
print(x3bar)

83.4
89.3
84.7

In [ ]:
# finding total mean
xbar=(sum(sample1)+sum(sample2)+sum(sample3))/n
xbar

85.8

In [ ]:
# we find sample variance = 1/n-1 sum((x-xbar)**2)
def var(data,x_bar):
    vx=(((sum([i**2 for i in data])))-((x_bar**2)*10))/9
    return vx

In [ ]:
s1=var(sample1,x1bar)
s2=var(sample2,x2bar)
s3=var(sample3,x3bar)
print(s1,s2,s3)

71.15555555555491 23.12222222222287 28.01111111111176

In [ ]:
# here we find total sample variance
t1=[i**2 for i in sample1]
t2=[i**2 for i in sample2]
t3=[i**2 for i in sample3]
tss=sum(t1)+sum(t2)+sum(t3)
tss

222142

In [ ]:
Tv=((tss)-((xbar**2)*30))/29
Tv

44.57931034482819

In [ ]:
import pandas as pd

In [ ]:
name=['sample1','sample2','sample3','Total']
ssize=[10,10,10,30]
sm=[83.4,89.3,84.7,85.8]
sv=[71.15555555555491,23.12222222222287,28.01111111111176,44.57931034482819]

In [ ]:
name_ser = pd.Series(name)
ssize_ser = pd.Series(ssize)
sm_ser = pd.Series(sm)
sv_ser = pd.Series(sv)

In [ ]:
data_dict = {'Groups':name_ser,'sample size':ssize_ser,'sample mean':sm_ser,'sample variance':sv_ser}
df = pd.DataFrame(data_dict)
df

    Groups  sample size  sample mean  sample variance
0  sample1           10         83.4        71.155556
1  sample2           10         89.3        23.122222
2  sample3           10         84.7        28.011111
3    Total           30         85.8        44.579310

In [ ]:
k=3
nk=10

# we find sum of square between sample=sum(nk(x_ibar-xbar)**2)
# Degree of freedom for SSB = k-1, k= no. of samples or groups
# Mean square between sample= SSB/k-1

In [ ]:
SSB=((n1*((x1bar-xbar)**2))+(n2*((x2bar-xbar)**2))+(n3*((x3bar-xbar)**2)))
DF1=k-1
MSB=SSB/DF1
print(SSB)
print(DF1)
print(MSB)

192.19999999999948
2
96.09999999999974

# we find sum of square within sample=sum((nk-1)*sk**2)
# Degree of freedom for SSW = n-k
# Mean square for within sample = SSW/n-k

In [ ]:
SSW=(((nk-1)*s1)+((nk-1)*s2)+((nk-1)*s3))
DF2=n-k
MSW=SSW/DF2
print(SSW)
print(DF2)
print(MSW)

1100.6000000000058
27
40.76296296296318

# we find Total sum of square  TSS= SSB+SSW
## Degree of freedom for TSS = n-1
## Mean square for within sample = TSS/n-1

In [ ]:

TSS=SSB+SSB
DF3=n-1
MST=TSS/DF3
print(TSS)
print(DF3)
print(MST)

384.39999999999895
29
13.255172413793067

# Here we find calculated value of F = MSB/MSW

In [ ]:
calF=MSB/MSW
calF

2.3575322551335445

In [ ]:
name1=['Between sample','Within sample','Total']
DF=[2,27,29]
SS=[192.19999999999948,1100.6000000000058,384.39999999999895]
MS=[96.09999999999974,40.76296296296318]
F=[2.3575322551335445]

In [ ]:
name1_ser = pd.Series(name1)
DF_ser = pd.Series(DF)
SS_ser = pd.Series(SS)
MS_ser = pd.Series(MS)
F_ser = pd.Series(F)

In [ ]:
data1_dict = {'Source':name1_ser,'DF':DF_ser,'Sum of square':SS_ser,'Mean square':MS_ser,'F value':F_ser}
df1 = pd.DataFrame(data1_dict)
df1

           Source  DF  Sum of square  Mean square   F value
0  Between sample   2          192.2    96.100000  2.357532
1   Within sample  27         1100.6    40.762963       NaN
2           Total  29          384.4          NaN       NaN

# Calculating Critical value for F Statistic

In [ ]:
import scipy.stats as stats

In [ ]:
TabF=stats.f.ppf(1-0.05,2,27)
TabF

3.3541308285291986

# Conclusion

## Since CalF < TabF Hence we fail to reject H0,we accept  H1 at 5 % level of significance, And hence this means we do not have sufficient evidence to say that there is a difference in exam scores among the three studying techniques.