<a href="https://colab.research.google.com/github/visionnlp/Anova-From-Scratch-in-Python/blob/main/Two_way_ANOVA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Two Way ANOVA

ANOVA (Analysis of Variance) is a statistical test used to analyze the difference between the means of more than two groups.

## Objectives

1) To examine teatments effect on perticular objects.


2) To identify the blocks effect.

## Two way ANOVA model for without interaction:
              
              
              µij = µ + αi + βj

## Hypothesis for first factor:

H0 : µ1j = µ2j = µ3j = µ4j = µ5j = µ + βj
     (i.e) α1 = α2 = α3 = α4 = α5 = 0

V/s


H1 : At least one of the treatment effects is different to the others

## Hypothesis for second factor:

H0 : µi1 = µi2 = µi3 = µi4 = µ + αi
     (i.e) β1 = β2 = β3 = β4 = 0
     
     
     V/s
     
     

H1 : At least one of the Block effects is different to the others

## Assumptions

1) Homogeneity of variance


2) Independence of observations


3) Normally-distributed dependent variable

## Example: 


treatments  Block 1  Block 2  Block 3   Block 4


    A     46       56     55      47
    
    
    B     54       55     51      56
    
    
    C     48       56     50      58
    
    
    D     46       60     51      59
    
    
    E     51       53     53      55
 
 
 
Use two way anova for testing treatments effect and Block effects.

In [ ]:
A=[46,56,55,47]
B=[54,55,51,56]
C=[48,56,50,58]
D=[46,60,51,59]
E=[51,53,53,55]
B1=[46,54,48,46,51]
B2=[56,55,56,60,53]
B3=[55,51,50,51,53]
B4=[47,56,58,59,55]

In [ ]:
m=len(A)
n=len(B1)
print(m)
print(n)

4
5

In [ ]:
N=m*n

In [ ]:
#here we find teatment means xi.bar,i=1,2,...,m
def mean(data):
    return sum(data)/m

In [ ]:
x1=mean(A)
x2=mean(B)
x3=mean(C)
x4=mean(D)
x5=mean(E)
print(x1)
print(x2)
print(x3)
print(x4)
print(x5)

51.0
54.0
53.0
54.0
53.0

In [ ]:
# here we find blocks means
def mean(data1):
    return sum(data1)/n

In [ ]:
y1=mean(B1)
y2=mean(B2)
y3=mean(B3)
y4=mean(B4)
print(y1)
print(y2)
print(y3)
print(y4)

49.0
56.0
52.0
55.0

In [ ]:
# here we find total mean:xbar=sum(xij)/N

xbar=(sum(A)+sum(B)+sum(C)+sum(D)+sum(E))/N
xbar

53.0

In [ ]:
# Here we find treatment sum of square =
t=[51.0,54.0,53.0,54.0,53.0]
T=[(i-xbar)**2 for i in t]
T

[4.0, 1.0, 0.0, 1.0, 0.0]

In [ ]:
# here we find block sum of square
b=[49.0,56.0,52.0,55.0]
BT=[(i-xbar)**2 for i in b]
BT

[16.0, 9.0, 1.0, 4.0]

In [ ]:
import pandas as pd

In [ ]:
name=['A','B','C','D','E','Block mean','sum of square block']
b1=[46,54,48,46,51,49.0,16.0]
b2=[56,55,56,60,53,56.0,9.0]
b3=[55,51,50,51,53,52.0,1.0]
b4=[47,56,58,59,55,55.0,4.0]
T_mean=[51.0,54.0,53.0,54.0,53.0,53.0,30]
T_ss=[4.0, 1.0, 0.0, 1.0, 0.0,6,0]

In [ ]:
data_dict = {'Treatments & Blocks':name,'B1':b1,'B2':b2,'B3':b3,'B4':b4,'treatment mean':T_mean,'Treatment sum of square':T_ss}
df = pd.DataFrame(data_dict)
df

,Treatments & Blocks,B1,B2,B3,B4,treatment mean,Treatment sum of square
0,A,46.0,56.0,55.0,47.0,51.0,4.0
1,B,54.0,55.0,51.0,56.0,54.0,1.0
2,C,48.0,56.0,50.0,58.0,53.0,0.0
3,D,46.0,60.0,51.0,59.0,54.0,1.0
4,E,51.0,53.0,53.0,55.0,53.0,0.0
5,Block mean,49.0,56.0,52.0,55.0,53.0,6.0
6,sum of square block,16.0,9.0,1.0,4.0,30.0,0.0

## here we find treatment sum of square=SSTr= m*(sum(Treatment mean-Total mean)**2)
## Degree of Freedom=(n-1)
## Mean sum of square=SSTr/DF

In [ ]:
SSTr=m*6
dft=n-1
MST=SSTr/dft
print(SSTr)
print(dft)
print(MST)

24
4
6.0

## here we find Block sum of square=SSB= n*(sum(Block mean-Total mean)**2)
## Degree of Freedom=(m-1)
## Mean sum of square=SSB/DF

In [ ]:
SSB=n*30
dfb=m-1
MSB=SSB/dfb
print(SSB)
print(dfb)
print(MSB)

150
3
50.0

## here we find Total sum of square=TSS= (sum(Xij-total mean)**2)
## Degree of Freedom=(n*m-1)

In [ ]:
s1=[(i-xbar)**2 for i in A]
s2=[(i-xbar)**2 for i in B]
s3=[(i-xbar)**2 for i in C]
s4=[(i-xbar)**2 for i in D]
s5=[(i-xbar)**2 for i in E]
s2

[1.0, 4.0, 4.0, 9.0]

In [ ]:
TSS=sum(s1)+sum(s2)+sum(s3)+sum(s4)+sum(s5)
print(TSS)
dfT=(m*n)-1
print(dfT)

330.0
19

## here we find Error sum of sqaure=SSE=TSS-SSTr-SSB
## Degree of Freedom=(m-1)*(n-1)
## Mean sum of square=SSE/DF

In [ ]:
SSE=TSS-SSTr-SSB
dfe=(m-1)*(n-1)
MSE=SSE/dfe
print(SSE)
print(dfe)
print(MSE)

156.0
12
13.0

## here we find the calculated value of F-test statistic for treatment

In [ ]:
Cal_Ft=MST/MSE
Cal_Ft

0.46153846153846156

## here we find the calculated value of F-test statistic for block

In [ ]:
Cal_Fb=MSB/MSE
Cal_Fb

3.8461538461538463

In [ ]:
name1=['Between sample(due to treatment)','Between sample(due to blocks)','Within sample(due to chance of error)','Total']
c1=[24,150,156,330]
c2=[4,3,12,19]
c3=[6,50,19,0]
c4=[0.46153846153846156,3.8461538461538463,0,0]

In [ ]:
data1_dict = {'Source of variation':name1,'Sum of square':c1,'DF':c2,'Mean square':c3,'F value':c4}
df1 = pd.DataFrame(data1_dict)
df1

,Source of variation,Sum of square,DF,Mean square,F value
0,Between sample(due to treatment),24,4,6,0.461538
1,Between sample(due to blocks),150,3,50,3.846154
2,Within sample(due to chance of error),156,12,19,0.000000
3,Total,330,19,0,0.000000

In [ ]:
# Calculating Critical value for F test
import scipy.stats as stats

In [ ]:
TabFt=stats.f.ppf(1-(0.05),4,12)
TabFt

3.259166726901249

In [ ]:
TabFb=stats.f.ppf(1-(0.05),3,12)
TabFb

3.490294819497605

# Conclusion

## Case-1: Since, CalFt>TabFt we conclude that we do not have sufficient evidence to reject the null hypothesis that there is no difference between the Treatments.

## Case-2: Since, CalFb<TabFb  we conclude that we do have sufficient evidence at the 5% level of significance to reject the null hypothesis that there in no difference between the Blocks.